@font-face {
  font-family: "FoglihtenNo07";
  src: url('../fonts/FoglihtenNo07.ttf');
  src: url('../fonts/FoglihtenNo07.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    line-height: 1.5;
    
}

content {
  font-family: "open sans";
}

.content-width {
    max-width: 70ch;
    width: calc(100% - 4rem);
    margin: 0 auto;
  }

  main {
    margin-bottom: 4rem;
  }

  header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 2px dotted hsl(0, 0%, 0%);
    color: hsl(0, 0%, 0%);
  }
  header h1 {
    font-family: "FoglihtenNo07";
  }
  header p {
    color: hsl(225, 100%, 78%);
    font-family: "open sans";
  }

  h1, h2, h3 {
    margin: 0;
    line-height: 1.5;
  }

  h2, h3 {
    color: hsl(225, 100%, 78%)
  }

  h1 {
    font-size: 3rem;
    font-weight: 100;

  }

  h2 {
    font-size: 2rem;
    font-weight: 200;

  }

  h3 {
    font-size: 1.75rem;
    font-weight: 100;

  }

  p {
    font-size: 1.25rem;

  }

